$dark:#009688;
$light:#c3d6d4;


body{
	font-family: 'Roboto', sans-serif;
	max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-y: scroll;
}

h1{
	margin-top: 50px;
    margin-bottom: 25px;
    font-size: 57px;
}
h2{
	margin-top:20px;
}


a{
	text-decoration: none;
color: inherit;
}

.submit{
	margin: 10px;
}

.container{
	border-style: solid;
    border-color: #909090;
    border-width: 2px;
    padding: 20px;
}
.link{
	font-size: 30px;
}

.btn {
    color: #111111 ;
    background-color: $light;
    border: none;
    outline: 0;
    margin: 4px;
	padding:5px 0;
    width:125px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
 	font-size:15px;
 	color:#2F2F2F;

    }

.btn-full{
	display: block;
    width: 100%;
    padding:10px 0;
    vertical-align: middle;
    font-size:19px;
    margin: 10px;
}

.sort-btn{
width: 194px;
}


.btn:hover{
	color:#fff;
	background-color:$dark;
.subtext{
	color: #DEDEDE;
}
}

#myForm{
	    margin-bottom: 0px;
}

.text{
	display: inline-block;
    margin: auto 10px;
    float: left;
    text-align: justify;
    text-overflow: ellipsis;
    width:700px;

    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    
}
.subtext{
	display: inline-block;
    margin: auto 10px;
    float: right;
    font-size:15px;
    color:#6D6D6D;
}



/* modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
	margin:0;
	padding-top:100px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

.modal-content {
   
    background-color: #fefefe;
    max-width:800px;
    max-height:300px;
  margin-right: auto; 
  margin-left: auto;
padding: 20px;


  
  .modal-title{
margin: 10px;
		}

	.inner-text{
		margin-top:20px;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
 	 }

 	 #buttons{
 	 	margin-top:30px;
 	 	margin-bottom:10px;
 	 }
	
   }
}

.text-box {
	width:400px;
	margin: 5px;
	border-style: solid;
	border-color: $light;
	border-width: 2px;
	padding: 0 10px 0 10px;
	height: 30px;
	overflow: hidden;
	
	background-color: white;



   &:hover,
   &:focus{
   	outline: none !important;
		border-color: $dark;


   }
}

#target{
	margin-top: 30px;
	margin-bottom: 100px;
}